

<main>
  <h2>Medications List</h2>
  <a href="/medications/new"><button type="button">Add New Medication</button></a>

  <table>
    <tr>
      <th>Name</th><th>Dosage</th><th>Date</th><th>Edit</th><th>Delete</th>
    </tr>
    <% meds.forEach(med => { %>
      <tr>
        <td><%= med.name %></td>
        <td><%= med.dosage %></td>
        <td><%= med.date ? new Date(med.date).toDateString() : "No date" %></td>
        <td>
          <a href="/medications/edit/<%= med._id %>">
            <button type="button">Edit</button>
          </a>
        </td>
        <td>
          <form method="POST" action="/medications/delete/<%= med._id %>" style="display:inline;">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <button>Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>
</main>

