<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<main>
  <p>The secret word is: <strong><%= secretWord %></strong></p>
  <p>Would you like to change it?</p>

  <form method="POST" action="/secretWord">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <label for="secretWord">New Secret Word:</label><br />
    <input id="secretWord" name="secretWord" type="text" /><br />
    <button type="submit">Submit</button>
  </form>
</main>

<%- include("partials/footer.ejs") %>